TWITTER_APP_KEY=
TWITTER_APP_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=
TWITTER_TWEET_ID=
TWITTER_HASHTAG=

STARTON_API_KEY=
STARTON_SMART_CONTRACT_ADDRESS=
STARTON_SMART_CONTRACT_NETWORK=
STARTON_SMART_CONTRACT_SIGNER=
TOKEN_AMOUNT=